<li id="post-<%=post.id%>" class="allposts">
    <p>
        <%if(locals.user && locals.user.id == post.user.id){%>
        <small>
            <a class ="delete-post-button" href="/post/destroy/<%=post._id%>">
              x
            </a>
            <br>
            
            <a href="/like/toggle?id=<%=post._id%>&type=Post" class="likes" data-likes="<%= post.likes.length %>">
                <%= post.likes.length %> Like 
            </a>
         
        </small>
            <%}%>
    <%=post.content%>
    
        <%=post.user.name%>

</p>

<div class = "post-comments">
<%if(locals.user){%>    
<form id="post-<%= post._id %>-comments-form" action="/comments/create" method ="POST">
<input type="text" name="content" placeholder="Type here to add comment......">
<input type="hidden" name="post" value ="<%=post._id%>">
<input type="submit" value="Add Comment">

</form>
<%}%>
</div>
<div class="post-comments-list">
   <h6>Comments</h6> 
<ul id="post-comments-<%=post._id%>">
<% for(comment of post.comments){%>
<%- include('_comment')-%>
<%}%>
</ul>

</div>
</li>