

<img src="<%=user.avatar%>" alt="<%=user.name%>" width="100">

<%if(user.id == profile_user.id){%>
 <form action="/users/update/<%=profile_user._id%>" enctype="multipart/form-data" method="POST">
    <input type="text" name="name" placeholder="Your Name" value="<%=profile_user.name%>" required>
    <input type ="email" name="email" placeholder ="Your Email" value="<%=profile_user.email%>" required>
    <input type="file" name="avatar" placeholder="Profile Picture">
    <input type="submit" value="UPDATE">
   

 </form> 
<%}else{%>
        <p>
            Name: <%=profile_user.name%>
        </p>
        <p>
            Email:<%=profile_user.email%>
        </p>
      
        <%if(friend=="true"){%>
        
      <a href="/users/add-friend?id=<%=profile_user.id%>" id="friend">Remove Friend</a>
        <%}else{%>
           <a href="/users/add-friend?id=<%=profile_user.id%>" id="friend">Add Friend</a>
        <%}%>
        <%}%>
        <script src ="<%=assetPath(js/friend.js)%>"></script>
